<div class="image-container">
    <img id="label-image" src="/label-image/?id={{task.id}}" draggable="false">
    </img>
    {% if task.ocr %}
    {% for block in task.ocr.ocr.pages[0].blocks %}
    <div class="highlight" data-content="{{block.content}}"
        style="left:{{block.coordinates.left}}%; top:{{block.coordinates.top}}%; width:{{block.coordinates.width}}%; height:{{block.coordinates.height}}%;">
    </div>
    {% endfor %}
    {% endif %}
</div>