{% extends "base.jinja" %}

{% block nav %}
{% include 'content-nav.jinja' %}
{% endblock %}

{% block main %}
<div class="projects-layout">
    <div class="page-toolbar">
        <div><button class="surface" hx-get="{{url_for('projects_page')}}" hx-trigger="click"
                hx-swap="outerHTML swap:{{config.swap_delay}}ms" hx-target="#projects-surface"
                hx-select="#projects-surface" hx-request='{"timeout": {{config.timeout}}}'
                hx-indicator="#projects-surface"><img src="/static/img/reload-outline.svg"></button></div>
        <div></div>
        <div class="toolbar-buttons">
            <button class="primary">New Project</button>
        </div>
    </div>
    <div id="projects-surface" class="page-surface">
        {% for project in projects %}
        <div class="project-card">
            <div class="project-description">
                <h3>{{project.name}}</h3>
                <p>{{project.description}}</p>
                <p>{{project.creator.name}}</p>
            </div>
            <div class="project-options">
                <button class="image small" aria-label="Edit project {{project.name}}"><img
                        src="/static/img/create-outline.svg" alt="Edit Icon" draggable="false"></button>
                <button class="image small" aria-label="View {{project.name}}"
                    hx-get="{{url_for('project_page')}}?id={{project.id}}" hx-trigger="click"
                    hx-swap="outerHTML swap:{{config.swap_delay}}ms" hx-target="#main" hx-select="#main"
                    hx-push-url="true" hx-request='{"timeout": {{config.timeout}}}' hx-indicator="#main">
                    <img src="/static/img/arrow-forward-outline.svg" alt="View Project Icon" draggable="false">
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}