{% extends "base.jinja" %}

{% block nav %}
{% include 'content-nav.jinja' %}
{% endblock %}

{% block main %}
<div class="tasks">
    <div class="page-toolbar tasks">
        <h1>{{project.name}}</h1>
        <button class="primary" hx-get="{{url_for('tasks_page')}}?id={{project.id}}" hx-trigger="click"
            hx-swap="outerHTML swap:{{config.swap_delay}}ms" hx-target="#tasks-surface" hx-select="#tasks-surface"
            hx-request='{"timeout": {{config.timeout}}}' hx-indicator="#tasks-surface"><img
                src="/static/img/reload-outline.svg"></button>
        <button class="secondary" hx-post="{{url_for('scan_project')}}?id={{project.id}}" hx-trigger="click"
            hx-swap="outerHTML swap:{{config.swap_delay}}ms" hx-target="#tasks-surface" hx-select="#tasks-surface"
            hx-indicator="#tasks-surface" hx-request='{"timeout": {{config.timeout}}}'>Queue Scan</button>
    </div>
    <div id="tasks-surface" class="page-surface tasks">
        {% if not project.scan_status == 'ready' %}
        <div class="status-card">
            {% if project.scan_status == 'initialized' %}
            No scan has been queued for this project.
            {% elif project.scan_status == 'pending' %}
            A scan of this project is pending.
            {% elif project.scan_status == 'scanning' %}
            A scan of this project is running.
            {% elif project.scan_status == 'error' %}
            The last scan of this project resulted in an error.
            {% endif %}
            {% if scannable %}
            You can try to queue a new scan.
            {% else %}
            Please wait.
            {% endif %}
            {{project.last_scan}}
        </div>

        {% else %}
        {% for task in tasks %}
        <div class="task-card">
            <div class="task-description">
                <h2>{{task.name}}</h2>
                <p>{{task.task_status.value}}</p>
                <p>{{task.file_status.value}}</p>
                <p>{{task.ocr_status.value}}</p>
            </div>
            <div class="task-options">
                <button class="image small" aria-label="Edit Task {{task.name}}"><img
                        src="/static/img/create-outline.svg" alt="Edit Icon" draggable="false"></button>
                <button class="image small" aria-label="View task {{task.name}}"
                    hx-get="{{url_for('label_page')}}?id={{task.id}}" hx-trigger="click"
                    hx-swap="outerHTML swap:{{config.swap_delay}}ms" hx-target="#main" hx-select="#main"
                    hx-push-url="true" hx-indicator="#main" hx-request='{"timeout": {{config.timeout}}}'>
                    <img alt="View Task Icon" src="/static/img/arrow-forward-outline.svg" draggable="false">
                </button>
            </div>
        </div>
        {% endfor %}
        {%endif%}
    </div>
</div>
{% endblock %}