{% extends "base.jinja" %}

{% block main %}
<main class="main-error" id="main">
    <div class="error-wrapper">
        <h1>We are terrible sorry, but something went wrong!</h1>
        <h2>{{status_code}} &mdash; {{error_message}}</h2>
        <br><br>
        <a class="inline bold underlined" href=".">Return home</a>
    </div>
</main>
{% endblock %}