{% extends "base.jinja" %}

{% block header %}
<header id="header">
    <span class="logo">MRKR</span>
    <div></div>
    <div></div>
</header>
{% endblock %}

{% block main %}
<main class="main-error" id="main">
    <div class="error-wrapper">
        <h1>We are terrible sorry, but something went wrong!</h1>
        <h2>{{status_code}} &mdash; {{error_message}}</h2>
        <br><br>
        <a class="inline bold underlined" href=".">Return home</a>
    </div>
</main>
{% endblock %}