{% extends "base.jinja" %}

{% block main %}
<div class="login-container">
    <!-- todo: replace urls -->
    <form method="POST" action="{{url_for('signup')}}">
        <h1>Sign up to use MRKR</h1>

        <div class="input-wrapper">
            <label for="input-username">Username</label>
            <span>At least three lower case letters</span>
            <input id="input-username" type="text" name="username" autocomplete="nickname"
                placeholder="Choose a username" autocapitalize="none" required autofocus></input>
        </div>

        <div class="input-wrapper">
            <label for="input-email">Email</label>
            <span>Invalid email address</span>
            <input id="input-email" type="email" name="email" autocomplete="email" placeholder="Enter your email"
                required autofocus></input>
        </div>

        <div class="input-wrapper">
            <label for="input-password">Password</label>
            <span>At least 4 characters required</span>
            <input id="input-password" type="password" name="password" autocomplete="off"
                placeholder="Enter your password" minlength="4" required></input>
        </div>

        <button class="primary" type="submit" aria-label="Sign up">Sign up</button>

        <span>
            Already have an account?
            <a class="primary" href="{{url_for('login_page')}}" hx-get="{{url_for('login_page')}}" hx-trigger="click"
                hx-swap="innerHTML swap:{{config.swap_delay}}ms" hx-target="body" hx-push-url="true"
                hx-indicator="#body" hx-request='{"timeout": {{config.timeout}}}'>Log in!</a>
            </a>
        </span>

    </form>
</div>
{% endblock %}