{% extends "base.jinja" %}

{% block main %}
<main class="main-label" id="main">
    <div class="label-surface" id="label-surface" hx-get="{{label_surface_url}}?id={{task.id}}" hx-trigger="load"
        hx-swap="innerHTML swap:{{swap_delay}}ms" hx-request='{"timeout": {{timeout}}}'>
    </div>
</main>
{% endblock %}