{% extends "base.jinja" %}

{% block main %}
<main class="main-tasks" id="main">
    {% for task in tasks %}
    <div class="project-card">
        <h2>{{task.name}}</h2>
        <p>{{task.status}}</p>
    </div>
    {% endfor %}
</main>
{% endblock %}