{% extends "base.jinja" %}

{% block main %}
<main class="main-projects" id="main">
    {% for project in projects %}
    <div class="project-card" hx-get="{{tasks_url}}?project_id={{project.id}}" hx-trigger="click"
        hx-swap="outerHTML swap:{{swap_delay}}ms" hx-target="#main" hx-select="#main" hx-push-url="true"
        hx-indicator="#dialog-content" hx-request='{"timeout": {{timeout}}}'>
        <h2>{{project.name}}</h2>
        <p>{{project.description}}</p>
    </div>
    {% endfor %}
</main>
{% endblock %}

{% block sidebar %}
<div class="sidebar-content" id="sidebar-content">
    <button class="image" id="sidebar-close-button" aria-label="Close Sidebar"><img src="/static/img/close-outline.svg"
            alt="Close Icon"></button>
    <a class="menu" href="{{logout_url}}">Logout</a>
</div>
{% endblock %}