{% extends "base.jinja" %}

{% block main %}
<div class="login">
    <form id="login-form" method="POST" action="{{url_path_for('login')}}">
        <h1>MRKR</h1>
        {% if flash %}
        <div class="flash">{{ flash.user_message }}</div>
        {% endif %}
        <div class="input-wrapper">
            <label for="input-email">Email</label>
            <span>Invalid email address</span>
            <input id="input-email" type="email" name="email" autocomplete="email" placeholder="Enter your email"
                required autofocus></input>
        </div>

        <div class="input-wrapper">
            <label for="input-password">Password</label>
            <span>At least 4 characters required</span>
            <input id="input-password" type="password" name="password" autocomplete="current-password"
                placeholder="Enter your password" minlength="4" required></input>
        </div>

        <button class="primary" type="submit" aria-label="Login">Login</button>

        <span>
            Don't have an account yet?
            <a class="primary" href="{{url_path_for('signup_page')}}" hx-get="{{url_path_for('signup_page')}}"
                hx-trigger="click" hx-swap="outerHTML swap:{{config.swap_delay}}ms" hx-target="#login-form"
                hx-select="#signup-form" hx-push-url="true" hx-indicator="#login-form"
                hx-request='{"timeout": {{config.timeout}}}'>Sign
                up!</a>
            </a>
        </span>
    </form>
</div>
{% endblock %}