/* -------------------------------------------------------------------------- */

:root {
    --max-width: 1170px;
    --min-width: 320px;

    --body-font: 'Geist', 'Helvetica', 'sans-serif';

    --border: #cbd9e4;

    --background: #ffffff;
    --on-background: #31373d;
    --icon-invert-background: 0%;

    --surface: #f0f8ff;
    --on-surface: #000000;
    --icon-invert-surface: 0%;

    --primary: #006ac7;
    --on-primary: #ffffff;
    --icon-invert-primary: 100%;

    --overlay-start: #00000000;
    --overlay-end: #000000ce;

    --scrollbar-background: #f0f0f0;
    --scrollbar-thumb: #c0c0c0;
    --scrollbar-hover: #a0a0a0;

    --nav-width: 21rem;
    --nav-animation: .3s;
    --border-radius: 10px;
}

@media (max-width: 800px) {
    :root {
        --nav-width: 17rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --border-background-surface: #2d3e4b;
        --border-surface-input: #859eb2;
        --border-focus: #1b7eca;

        --background: #09141c;
        --on-background: #e0ebf2;
        --icon-invert-background: 100%;

        --surface: #131f29;
        --on-surface: #e0ebf2;
        --on-surface-subdued: #859ca1;
        --icon-invert-surface: 100%;

        --input: #132535;
        --on-input: #edf4f7;
        --icon-invert-input: 0%;

        --input-focus: #13324b;
        --on-input-focus: #edf4f7;
        --icon-invert-input-focus: 0%;

        --primary: #0a59a8;
        --on-primary: #ffffff;
        --icon-invert-primary: 0%;

        --primary-focus: #0976d6;
        --on-primary-focus: #ffffff;
        --icon-invert-primary-focus: 0%;

        --primary-text: #34a6fc;

        --error: #9c1c08;

        --scrollbar-background: #1a2b3b;
        --scrollbar-thumb: #334654;
        --scrollbar-hover: #4a6f8c;

    }
}

/* -------------------------------------------------------------------------- */
/* General Components                                                         */
/* -------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

img {
    display: block;
}

h1,
h2,
h3 {
    margin: 0;
    margin-block: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: None;
}

a.primary {
    color: var(--primary-text);
    font-weight: 700;
}

button {
    background-color: inherit;
    border: none;
    border-radius: var(--border-radius);
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
}

button.primary {
    background-color: var(--primary);
    color: var(--on-primary);
    font-size: 1.2rem;
    padding: 1.3rem;
}

button:hover,
button:focus {
    background-color: var(--input-focus);
    color: var(--on-surface);
}

button.primary:hover,
button.primary:focus {
    background-color: var(--primary-focus);
    color: var(--on-primary-focus);
}

input {
    background-color: inherit;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--on-surface);
    font-family: inherit;
    font-size: inherit;
}

.input-wrapper {
    background-color: var(--input);
    border: 2px solid var(--border-surface-input);
    border-radius: var(--border-radius);
    color: var(--on-input);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 0 4rem;
    overflow: hidden;
    transition: 0.1s ease-out;
}

.input-wrapper>input[type="text"],
.input-wrapper>input[type="email"],
.input-wrapper>input[type="password"] {
    background-color: var(--input);
    color: var(--on-input);
    padding: 1rem;
}

.input-wrapper>input[type="text"]:focus-within,
.input-wrapper>input[type="email"]:focus-within,
.input-wrapper>input[type="password"]:focus-within {
    border: none;
}

.input-wrapper:focus-within {
    border-color: var(--border-focus);
}

.input-wrapper>label,
.input-wrapper>span {
    font-size: 0.8rem;
    overflow: hidden;
    padding: 0.5rem 1rem 0rem 1rem;
    text-overflow: ellipsis;
    visibility: hidden;
    white-space: nowrap;
}

.input-wrapper>span {
    color: var(--error);
    text-align: right;
}

.input-wrapper>input {
    grid-column: 1 / span 2;
}

.input-wrapper:not(:has(:placeholder-shown)),
.input-wrapper:has(input.invalid) {
    grid-template-rows: 1.5rem 2.5rem;
}

.input-wrapper:not(:has(:placeholder-shown))>label,
.input-wrapper:has(input.invalid)>label {
    visibility: visible;
}

.input-wrapper:has(:user-invalid):not(:has(:placeholder-shown))>span,
.input-wrapper:has(input.invalid)>span {
    visibility: visible;
}

/* -------------------------------------------------------------------------- */
/* General Layout                                                             */
/* -------------------------------------------------------------------------- */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    background-color: var(--background);
    color: var(--on-background);
}

header {
    align-items: center;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: auto auto 1fr;
    padding: 1.5rem;
}

header:empty {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}

nav {
    border-right: 1px solid var(--border-background-surface);
    display: grid;
    gap: 1rem;
    grid-column: 1;
    grid-row: 1 / span 2;
    grid-auto-rows: min-content;
    padding: 1rem .5rem;
}

nav:empty {
    display: none;
}

nav>div.header {
    align-items: center;
    display: grid;
    gap: 0rem;
    grid-template-columns: 0rem min-content;
    overflow: hidden;
    transition: grid-template-columns var(--nav-animation) ease, grid-gap var(--nav-animation) ease;
}

nav>div.header>span {
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0;
    padding: 0 0 0 1rem;
    transition: opacity var(--nav-animation) ease, visibility var(--nav-animation) ease;
    visibility: hidden;
}

nav>div.header>button {
    padding: 1rem;
}

nav>div.header>button>img {
    height: 1.5rem;
    filter: invert(var(--icon-invert-background));
    transform: rotate(0deg);
    transition: transform var(--nav-animation) ease;
    width: 1.5rem;
}

nav.expanded>div.header {
    gap: 1rem;
    grid-template-columns: calc(var(--nav-width) - 5.5rem) min-content;
}

nav.expanded>div.header>span {
    opacity: 1;
    visibility: visible;
}

nav.expanded>div.header>button>img {
    transform: rotate(180deg);
}

nav>div.button-container {
    display: grid;
    grid-template-rows: min-content auto;
    overflow: hidden;
}

nav>div.button-container>button {
    align-items: center;
    display: grid;
    font-size: 1.2rem;
    gap: 0rem;
    grid-template-columns: min-content 0rem;
    padding: 1rem;
    transition: grid-template-columns var(--nav-animation) ease, grid-gap var(--nav-animation) ease, border-radius var(--nav-animation) ease;
}

nav>div.button-container.expandable>button {
    grid-template-columns: min-content 0rem 0rem;
}

nav>div.button-container>button>img {
    filter: invert(var(--icon-invert-background));
    height: 1.5rem;
    width: 1.5rem;
}

nav>div.button-container>button>span,
nav>div.button-container>button>img.chevron {
    opacity: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    transition: opacity var(--nav-animation) ease, visibility var(--nav-animation) ease, transform var(--nav-animation) ease;
    visibility: hidden;
    white-space: nowrap;
}

nav>div.button-container>button>img.chevron {
    width: 1rem;
    height: 1rem;
}

nav.expanded>div.button-container>button {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content calc(var(--nav-width) - 5.5rem);
    padding: 1rem;
}

nav.expanded>div.button-container.expandable>button {
    grid-template-columns: min-content calc(var(--nav-width) - 7.5rem) 1rem;
}

nav.expanded>div.button-container>button>span,
nav.expanded>div.button-container>button>img.chevron {
    opacity: 1;
    visibility: visible;
}

nav>div.button-container.expanded>button {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

nav>div.button-container.expanded>button>img.chevron {
    transform: rotate(180deg);
}

nav>div.button-container>div.expandable-content-container {
    background-color: var(--surface);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--nav-animation) ease;
}

nav>div.button-container.expanded>div.expandable-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

nav>div.button-container>div.expandable-content-container>div.expandable-content {
    opacity: 0;
    overflow: hidden;
    padding: 0rem 1rem 0rem 1rem;
    transition: opacity var(--nav-animation) ease, visibility var(--nav-animation) ease, padding var(--nav-animation) ease;
    visibility: hidden;
}

nav>div.button-container.expanded>div.expandable-content-container>div.expandable-content {
    opacity: 1;
    padding: 1rem;
    visibility: visible;
}

/* -------------------------------------------------------------------------- */
/* Specific Layouts                                                           */
/* -------------------------------------------------------------------------- */

div.login-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

div.login-container>form {
    background-color: var(--surface);
    border: 2px solid var(--border-background-surface);
    border-radius: var(--border-radius);
    color: var(--on-surface);
    display: grid;
    gap: 1.5rem;
    grid-auto-rows: min-content;
    max-width: 30rem;
    padding: 2rem;
    width: 90%;
}

div.login-container>form>h1 {
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/* HTMX styles                                                                */
/* -------------------------------------------------------------------------- */

body.htmx-request:before,
body.htmx-swapping:before {
    animation: spinner .6s linear infinite;
    border: 2px solid var(--primary);
    border-radius: 50%;
    border-top-color: var(--background);
    box-sizing: border-box;
    content: '';
    height: 2rem;
    left: 50%;
    margin-left: -1rem;
    margin-top: -1rem;
    position: absolute;
    top: 50%;
    width: 2rem;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}